* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    padding-left: 0;
}

body {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    font-family: 'Roboto', sans-serif;
}

#app {
    width: 1600px;
    min-height: 900px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: stretch;
    margin-top: 20px;
}

header {
    display: flex;
}

/* Side Navigation */
nav {
    width: 385px;
    border-right: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav header {
    align-items: center;
    justify-content: center;
    padding: 30px 0 40px;
}

nav header img {
    width: 60px;
    display: inline-block;
}

nav h1 {
    display: inline-block;
    margin: 0 5px 0 -5px;
    color: #89d2cc;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul:nth-of-type(2) {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

nav ul:nth-of-type(2) > :first-child {
    margin-top: auto;
}

nav li {
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.nav-list > li {
    margin-bottom: 32px;
}

.nav-btn-container {
    display: block;
}

nav li img {
    width: 25px;
}

nav li a {
    text-decoration: none;
    color: #616161;
    padding-left: 20px;
}

#nav-item-active {
    background-color: #f7f7f7;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 5px;
    display: block;
}

#nav-btn-container {
    display: flex;
    align-items: center;
}

#nav-container-projects {
    flex-direction: column;
}

#nav-caret {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 32px;
}

#sub-nav {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    padding: 10px;
    padding-right: 20px;
    border-left: 2px solid #e0e0e0;
}

#sub-nav li {
    padding: 10px 20px;
}

#sub-nav img {
    width: 18px;
    height: 18px;
}

#sub-nav a {
    color: #9e9e9e;
}

#sub-item-active {
    background-color: #151515;
}

#sub-item-active img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#sub-item-active a {
    color: #e0e0e0;
}

nav span {
    background: #feede2;
    padding: 5px 15px; 
    border-radius: 25px;
    position: absolute;
    right: 32px;
    color: #424242;
    font-size: 14px;
}

/* Page Content */
main {
    width: 100%;
    padding: 0 50px;
}

main header {
    width: 100%;
    justify-content: space-between;
    margin: 50px 0;
}

section {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
    display: block;
    text-align: center;
    margin-top: 35px;
}

footer a {
    text-decoration: none;
    color: #424242;
}